.forecast-box {
  text-align: center;
  margin: 0 auto;
  display: block;
  min-height: 10vh;
}

.daily-forecast  {
  position: relative;
  display: inline-block;
  list-style: none;
  display: flex;
  background-color: rgba(192, 189, 189, 0.5);
  color: rgb(58, 56, 56);
  font-size: 36px;
  font-weight: 300;
  /* justify-content: space-evenly; */
  margin-top: 20px;
  margin-bottom: 30px;
  grid-column: 1 / -1;
  box-shadow: 3px 6px rgba(10, 10, 10, 0.2);
  border-radius: 16px;

  padding: 15px 25px;
}

