.forecast-box {
  text-align: center;
  margin: 0 auto;
  display: block;
  min-height: 10vh;
}

.daily-forecast  {
  list-style: none;
  display: flex;
  background-color: rgba(143, 140, 140, 0.4);
  color: rgb(58, 56, 56);
  font-size: 44px;
  font-weight: 400;
  justify-content: space-evenly;
  margin-top: 10px;
  margin-bottom: 20px;
  grid-column: 1 / -1;
}

.forecast-box forecast-temp {
  color: white;
  text-decoration: none;
  padding: 20px;
  /* grid-column: 1 / -1;
  display: flex;
  justify-content: space-evenly;
  margin-top: 10px;
  margin-bottom: 20px; */
}