.home-page {
  height: 90vh;
}

.typewriter h1 {
  font-size: 8vw;
  display: flex;
  display: block;
  /* Ensures the content is not revealed until the animation */
  overflow: hidden;
  /* Keeps the content on a single line */
  white-space: nowrap;
  margin: 0 auto;
  display: block;
  text-align: center;
  /* Gives that scrolling effect as the typing happens */
  letter-spacing: 0.15em;
  animation: typing 3.5s steps(40, end), blink-caret 0.75s step-end infinite;
}

h4 {
  text-align: center;
  display: block;
  /* margin: 0 auto; */
  margin-top: 100px;
}

/* The typing effect */
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
